In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import * 
from pyspark.sql.functions import *
import pandas

Configura o Spark, Rodando um servidor pelo WSL, tanto para o Spark, quanto para o Jupyter-Notebook

In [2]:
spark = SparkSession.builder.appName("MapReduce tweets").getOrCreate()

22/12/05 19:09:34 WARN Utils: Your hostname, DESKTOP-UKKGOCL resolves to a loopback address: 127.0.1.1; using 172.18.61.195 instead (on interface eth0)
22/12/05 19:09:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/05 19:09:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]
df = spark.createDataFrame(data)
df.show()

+------+------+
|    _1|    _2|
+------+------+
|  Java| 20000|
|Python|100000|
| Scala|  3000|
+------+------+

In [4]:
schema = StructType() \
      .add("tweet_id",LongType(),True) \
      .add("content",StringType(),True) \
      .add("coordinate_0",DoubleType(),True) \
      .add("coordiante_1",DoubleType(),True) \
      .add("retweeted",StringType(),True) \
      .add("tweet_id2",LongType(),True) \
      .add("tweet_id_str",StringType(),True) \
      .add("created_at",StringType(),True) \
      .add("created_at_str",StringType(),True) \
      .add("in_reply_to_user_id",StringType(),True) \
      .add("lang",StringType(),True) \
      .add("place_name",StringType(),True) \
      .add("place_id",StringType(),True) \
      .add("place_bb_00",StringType(),True) \
      .add("place_bb_01",StringType(),True) \
      .add("place_bb_10",StringType(),True) \
      .add("place_bb_11",StringType(),True) \
      .add("place_bb_20",StringType(),True) \
      .add("place_bb_21",StringType(),True) \
      .add("place_bb_30",StringType(),True) \
      .add("place_bb_31",StringType(),True) \
      .add("place_type",StringType(),True) \
      .add("place_country_code",StringType(),True) \
      .add("place_country",StringType(),True) \
      .add("place_full_name",StringType(),True) \
      .add("user_name",StringType(),True) \
      .add("user_id",StringType(),True) \
      .add("user_id_str",StringType(),True) \
      .add("user_location",StringType(),True) \
      .add("user_friend_count",StringType(),True) \
      .add("user_created_at",StringType(),True) \
      .add("user_screen_name",StringType(),True)

In [5]:
debate_tweets = spark.read.csv("debate-tweets.tsv",sep=r'\t',schema=schema)

Nomeia as colunas baseados no readme http://lia.ufc.br/~igobrilhante/twitter-home/


Df vai ser o arquivo com o dataframe base

In [6]:
debate_tweets

DataFrame[tweet_id: bigint, content: string, coordinate_0: double, coordiante_1: double, retweeted: string, tweet_id2: bigint, tweet_id_str: string, created_at: string, created_at_str: string, in_reply_to_user_id: string, lang: string, place_name: string, place_id: string, place_bb_00: string, place_bb_01: string, place_bb_10: string, place_bb_11: string, place_bb_20: string, place_bb_21: string, place_bb_30: string, place_bb_31: string, place_type: string, place_country_code: string, place_country: string, place_full_name: string, user_name: string, user_id: string, user_id_str: string, user_location: string, user_friend_count: string, user_created_at: string, user_screen_name: string]

In [7]:
debate_tweets.count()

7228127

In [8]:
debate_tweets.limit(10).toPandas()

22/12/05 19:09:49 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,tweet_id,content,coordinate_0,coordiante_1,retweeted,tweet_id2,tweet_id_str,created_at,created_at_str,in_reply_to_user_id,...,place_country_code,place_country,place_full_name,user_name,user_id,user_id_str,user_location,user_friend_count,user_created_at,user_screen_name
0,522394422710136832,"@anacddd verdade, olha o site",-27.516566,-48.646082,False,522394422710136832,522394422710136832,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,303425830,...,None,None,None,Geovana Nunes,295414968,295414968,None,316,Mon May 09 00:12:02 +0000 2011,geovanannunes
1,522394422806581248,Que Ã±*,-27.768328,-51.668323,False,522394422806581248,522394422806581248,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Rosane Fernandes,2409363642,2409363642,Cacique Doble RS,47,Mon Mar 24 18:06:40 +0000 2014,Rosane_fsf
2,522394422731100160,Vou quebrar a Bruna,-27.004640,-48.623519,False,522394422731100160,522394422731100160,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Bebel,162447082,162447082,None,513,Sat Jul 03 18:03:35 +0000 2010,_isarenata
3,522394422810783745,agora vou p segundo andar e depois p 3Â° ð,-15.852082,-47.961413,False,522394422810783745,522394422810783745,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,tatÃ¡,387694391,387694391,None,347,Sun Oct 09 14:19:52 +0000 2011,thayflausino
4,522394423137943553,Me sinto tÃ£o bem - Mika #QueroNoTVZ,-3.755046,-38.566769,False,522394423137943553,522394423137943553,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Simone â¥ DDM's â¥,152792963,152792963,Fortaleza/CearÃ¡,719,Sun Jun 06 22:15:22 +0000 2010,simoneesilva
5,522394423188271104,"Eu estou aqui, deixando a vida me guiar, nÃ£o Ã©...",-22.846869,-43.308830,False,522394423188271104,522394423188271104,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Gar6,749780077,749780077,Rio de Janeiro,356,Fri Aug 10 17:56:10 +0000 2012,juliagar6
6,522394423238606848,Quando vai embora tudo fica sem graÃ§a,-22.904301,-43.544403,False,522394423238606848,522394423238606848,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Isa,2476253858,2476253858,None,164,Sun May 04 02:22:02 +0000 2014,isabelleecorrea
7,522394423528022016,@paynecaralhudo kkkkkk n n sou legal kkk,-23.509058,-46.968920,False,522394423528022016,522394423528022016,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,518826601,...,None,None,None,JÃºlio Lessa â,324937648,324937648,None,943,Mon Jun 27 13:28:08 +0000 2011,SiempreCtgLS
8,522394423632875521,ConceiÃ§Ã£o da Barra acho que vou pra outro dia,-18.713338,-40.405779,False,522394423632875521,522394423632875521,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,âLuâ,536501962,536501962,Nova VenÃ©cia-Es,82,Sun Mar 25 17:45:22 +0000 2012,Hey_Marrenta
9,522394424010362881,@Maniavato te amo â¥,-23.064705,-45.717173,False,522394424010362881,522394424010362881,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,542665678,...,None,None,None,queen,1414028317,1414028317,| no puteiro com a Ju. |,1911,Wed May 08 22:50:20 +0000 2013,ButeraCertified

Conferida se os nomes e tipos das colunas estÃ£o corretos, partimos para a primeira questÃ£o

In [9]:
spark.conf.set("spark.sql.legacy.timeParserPolicy","LEGACY") 
hashtag_regex="^#\w+|\s#\w+"
debate_tweets_timestamp=debate_tweets.withColumn("timestamp",to_timestamp('created_at', 'EEE LLL d HH:mm:ss z yyyy'))
debate_filtrado1=debate_tweets_timestamp.select('content','created_at',"timestamp")

1)Quais foram as hashtags mais usadas pela manhÃ£, tarde e noite? (1,0 ponto)

Como sÃ³ vamos precisar da coluna content, e created_at, limpo as outras colunas

In [10]:
contains_hashtag=debate_filtrado1.filter(debate_filtrado1["content"].rlike(hashtag_regex)).withColumn("hashtag",regexp_extract("content",hashtag_regex,0))\
.withColumn("hour",hour("timestamp"))

In [11]:
contains_hashtag_manha=contains_hashtag.filter(contains_hashtag["hour"]>=6).filter(contains_hashtag["hour"]<13);
contains_hashtag_tarde=contains_hashtag.filter(contains_hashtag["hour"]>=13).filter(contains_hashtag["hour"]<18);
contains_hashtag_noite=contains_hashtag.filter(contains_hashtag["hour"]>=18).union(contains_hashtag.filter(contains_hashtag["hour"]<6));

In [12]:
contains_hashtag_manha.count()
contains_hashtag_tarde.count()
contains_hashtag_noite.count()

495260

In [13]:
contains_hashtag_manha.groupBy("hashtag").count().sort('count', ascending=False).limit(50).show()

+--------------------+-----+
|             hashtag|count|
+--------------------+-----+
|   #EMABiggestFans1D|37297|
| #EMABiggestFansJ...|32625|
|#EMABiggestFansJu...| 3807|
|   #EMABiggestFans1D| 3083|
|         #QueroNoTVZ| 2645|
|         #QueroNoTVZ| 1537|
| #VoteVampsTeenAw...|  976|
|       #AustinMahone|  768|
|       #AUSTINMAHONE|  733|
|             #trndnl|  566|
| #EMABiggestFans5SOS|  515|
| #ChristianNoEnco...|  482|
|                  #E|  475|
|        #StealMyGirl|  380|
|             #bomdia|  363|
|               #AMAs|  345|
|#BuyLoveMeHarderO...|  313|
|       #KCAArgentina|  312|
| #HarryRefollowLuana|  296|
|             #TOPTVZ|  291|
+--------------------+-----+
only showing top 20 rows

In [14]:
contains_hashtag_tarde.groupBy("hashtag").count().sort('count', ascending=False).limit(50).show()

+--------------------+-----+
|             hashtag|count|
+--------------------+-----+
|   #EMABiggestFans1D|47300|
| #EMABiggestFansJ...|41537|
|        #StealMyGirl| 5896|
|#EMABiggestFansJu...| 4858|
|   #EMABiggestFans1D| 4040|
|   #bigpaynodanceoff| 3648|
| #LuanSantanaNaHo...| 1970|
|    #CartersNewVideo| 1679|
|     #FlyNoMixDiario| 1141|
| #demiyourstorydo...|  976|
| #BuyLoveMeHarder...|  908|
|       #AustinMahone|  892|
|    #HottieOfTheWeek|  663|
|               #AMAs|  611|
|         #QueroNoTVZ|  604|
|          #Vote5HEMA|  593|
|   #UnlockMockingjay|  567|
|      #MTVhomecoming|  557|
|     #flyNoMixdiario|  553|
|           #VevoLIFT|  506|
+--------------------+-----+
only showing top 20 rows

In [15]:
contains_hashtag_noite.groupBy("hashtag").count().sort('count', ascending=False).limit(50).show()

+--------------------+------+
|             hashtag| count|
+--------------------+------+
| #EMABiggestFansJ...|105331|
|   #EMABiggestFans1D|104991|
|#EMABiggestFansJu...| 14208|
|       #camilasayshi|  9024|
|   #EMABiggestFans1D|  8589|
|     #TheVoiceBrasil|  2315|
|        #DebateNoSBT|  2229|
|                  #E|  2045|
|          #Vote5HEMA|  1968|
|        #AssistamODR|  1953|
|     #DebateNaRecord|  1698|
|                #Lan|  1677|
|             #trndnl|  1570|
| #LinkinParkNoMul...|  1392|
|     #askdirectioner|  1360|
|       #AustinMahone|  1334|
|   #askjadelittlemix|  1284|
|    #QueroDilmaTreze|  1159|
|           #AFazenda|  1110|
| #LuaBlancoNoAgor...|  1104|
+--------------------+------+
only showing top 20 rows

b) Quais as hashtags mais usadas em cada dia? (1,0 ponto)

In [26]:
withday=debate_tweets_timestamp.filter(debate_tweets_timestamp["content"].rlike(hashtag_regex))\
.withColumn("dayofmonth",dayofmonth("timestamp"))\
.withColumn("month",month("timestamp"))\
.withColumn("hashtag",regexp_extract("content",hashtag_regex,0)).select("dayofmonth","month","hashtag");

In [27]:
hashtag_by_day=withday.groupBy("dayofmonth","month","hashtag").count().sort('count', ascending=False)

In [28]:
hashtag_by_day.toPandas()

        dayofmonth  month                       hashtag  count
0             16.0   10.0             #EMABiggestFans1D  58662
1             16.0   10.0   #EMABiggestFansJustinBieber  46097
2             15.0   10.0             #EMABiggestFans1D  43730
3             15.0   10.0   #EMABiggestFansJustinBieber  40738
4             17.0   10.0             #EMABiggestFans1D  32530
...            ...    ...                           ...    ...
148789        20.0   10.0                      #Tw10000      1
148790        20.0   10.0                   #arisjerome      1
148791        20.0   10.0                     #TeAmoooo      1
148792        20.0   10.0                    #primogato      1
148793        20.0   10.0                   #SemLimites      1

[148794 rows x 4 columns]

In [29]:
hashtag_by_day.dropDuplicates(["dayofmonth","month"]).toPandas()

   dayofmonth  month                       hashtag  count
0         NaN    NaN            #SamsungNightRun5k      2
1        15.0   10.0             #EMABiggestFans1D  43730
2        16.0   10.0             #EMABiggestFans1D  58662
3        17.0   10.0             #EMABiggestFans1D  32530
4        18.0   10.0   #EMABiggestFansJustinBieber  27834
5        19.0   10.0   #EMABiggestFansJustinBieber  26850
6        20.0   10.0   #EMABiggestFansJustinBieber   6365

c) Qual o nÃºmero de tweets por hora a cada dia? ((1,0 ponto))

In [30]:
withdayhour=debate_tweets_timestamp.filter(debate_tweets_timestamp["content"].rlike(hashtag_regex))\
.withColumn("dayofmonth",dayofmonth("timestamp"))\
.withColumn("month",month("timestamp"))\
.withColumn("hour",hour("timestamp"))\
.withColumn("hashtag",regexp_extract("content",hashtag_regex,0)).select("dayofmonth","month","hour","hashtag");

In [40]:
hashtag_by_day_hour=withdayhour.groupBy("dayofmonth","month","hour","hashtag").count().sort("count", ascending=False)

In [41]:
hashtag_by_day_hour.toPandas()

        dayofmonth  month  hour                       hashtag  count
0             15.0   10.0  22.0   #EMABiggestFansJustinBieber   8738
1             15.0   10.0  22.0                 #camilasayshi   8513
2             15.0   10.0  23.0             #EMABiggestFans1D   6731
3             16.0   10.0  22.0   #EMABiggestFansJustinBieber   6504
4             15.0   10.0  22.0             #EMABiggestFans1D   5994
...            ...    ...   ...                           ...    ...
208921        20.0   10.0   3.0                   #NichoBello      1
208922        20.0   10.0   3.0      #Em_Algum_Lugar_Do_Mundo      1
208923        20.0   10.0   3.0                #RachelMcAdams      1
208924        20.0   10.0   4.0                     #Facebook      1
208925        20.0   10.0   5.0               #AgoraQueroVeer      1

[208926 rows x 5 columns]

In [43]:
hashtag_by_day_hour.dropDuplicates(["dayofmonth","month","hour"]).sort(["dayofmonth","month","hour"],ascending=False).toPandas()

     dayofmonth  month  hour                       hashtag  count
0          20.0   10.0   5.0   #EMABiggestFansJustinBieber    107
1          20.0   10.0   4.0   #EMABiggestFansJustinBieber    288
2          20.0   10.0   3.0   #EMABiggestFansJustinBieber    677
3          20.0   10.0   2.0   #EMABiggestFansJustinBieber    889
4          20.0   10.0   1.0   #EMABiggestFansJustinBieber   2265
..          ...    ...   ...                           ...    ...
110        15.0   10.0  14.0             #EMABiggestFans1D   3457
111        15.0   10.0  13.0             #EMABiggestFans1D   2976
112        15.0   10.0  12.0   #EMABiggestFansJustinBieber   3769
113        15.0   10.0  11.0             #EMABiggestFans1D   1794
114         NaN    NaN   NaN            #SamsungNightRun5k      2

[115 rows x 5 columns]

d) Quais as principais sentenÃ§as relacionadas Ã  palavra âDilmaâ? (1,0 ponto)

In [66]:
dilma_df=debate_tweets_timestamp.filter(lower(debate_tweets_timestamp["content"]).contains("dilma"))\
.groupBy("content").count().sort("count",ascending=False)
#.withColumn("sentences", sentences("content")

In [67]:
dilma_df.limit(50).toPandas()

                                              content  count
0                                    #QueroDilmaTreze    110
1                                   #MelhorcomDilma13     34
2                                 #MenosOdioMaisDilma     29
3                                      #VouComDilma13     24
4                                            #Dilma13     24
5                        #dilmavaiperderaecio45vencer     24
6                                      #DilmaTheVodka     21
7                                       #QueroDilma13     15
8                                   #Dilma13PraVencer     13
9                                            Dilma 13      7
10                                  Cala a boca Dilma      6
11  Se eu fosse a Dilma sabendo que iria ficar des...      5
12                                  Dilma cala a boca      5
13  â Dilma ou AÃ©cio? â Dois hambÃºrgueres, alface,...      5
14                                        #ChupaDilma      5
15                                         #ForaDilma      5
16                                     #VoucomDilma13      4
17                                   #Dilma13MudaMais      4
18                                             #Dilma      4
19  SÃ³ pra lembrar: AÃ©cio 45 Dilma 13 CPM 22 Nx 0 ...      4
20                         AÃ©cio acabando com a Dilma      4
21                                              Dilma      4
22                                         Toma Dilma      4
23                                          Bom dilma      4
24                     AÃ©cio, aprovado atÃ© pela Dilma      4
25                                    Cala boca Dilma      4
26                                       Dilma deu PT      4
27                                           #dilma13      4
28                                     #dilmathevodka      4
29  Arrume outra maneira de estragar sua vida, por...      4
30                                     #TodosComDilma      4
31                          KKKKK VAI SEGURANDO DILMA      3
32                                        Chupa dilma      3
33                                #MaisAmorMenosDilma      3
34                                    Dilma cala boca      3
35                              Dilma tÃ¡ passando mal      3
36                                      #querodilma13      3
37                                           @dilmabr      3
38  """@ajudaidolos: Quote se vocÃª quer que @dilma...      3
39               #QueroDilmaTreze #MenosOdioMaisDilma      3
40                                        Chupa Dilma      3
41                                    Dilma eu te amo      3
42                                   #querodilmatreze      3
43  """@ajudaidolos: Quote se vocÃª quer ter Bolsa ...      3
44  â@dilmabr: Eu investigo tudo, AÃ©cio. Eu nÃ£o en...      3
45  """@BlogdoNoblat: Com todo respeito, Dilma foi...      3
46                                     #Dilmathevodka      3
47                     @portalR7 @dilmabr @AecioNeves      3
48  """@Castelli_Henri: #debatedosbt #13 #dilmapre...      3
49                               Dilma estÃ¡ desmaiada      2

e) Quais as principais sentenÃ§as relacionadas Ã  palavra âAÃ©cioâ? (1,0 ponto)

In [68]:
aecio_df=debate_tweets_timestamp.filter(lower(debate_tweets_timestamp["content"]).contains("aecio"))\
.union(debate_tweets_timestamp.filter(lower(debate_tweets_timestamp["content"]).contains("aÃ©cio")))\
.groupBy("content").count().sort("count",ascending=False)

In [ ]:
aecio_df.limit(50).toPandas()

2)Dado um dataset com tweets relacionados Ã  visita da Torre Eiffel em Paris, 
responda:

a) Encontre as palavras mais utilizadas nas avaliaÃ§Ãµes. (1,0 ponto)

c) Encontre os principais tÃ³picos relacionados Ã s revisÃµes. (1,0 ponto

d) Mapeie a distribuiÃ§Ã£o temporal das revisÃµes. (1,0 ponto)