In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import * 
from pyspark.sql.functions import *
import pandas

Configura o Spark, Rodando um servidor pelo WSL, tanto para o Spark, quanto para o Jupyter-Notebook

In [2]:
spark = SparkSession.builder.appName("MapReduce tweets").getOrCreate()

22/12/05 00:39:40 WARN Utils: Your hostname, DESKTOP-UKKGOCL resolves to a loopback address: 127.0.1.1; using 172.18.63.234 instead (on interface eth0)
22/12/05 00:39:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/05 00:39:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]
df = spark.createDataFrame(data)
df.show()

+------+------+
|    _1|    _2|
+------+------+
|  Java| 20000|
|Python|100000|
| Scala|  3000|
+------+------+

In [4]:
schema = StructType() \
      .add("tweet_id",LongType(),True) \
      .add("content",StringType(),True) \
      .add("coordinate_0",DoubleType(),True) \
      .add("coordiante_1",DoubleType(),True) \
      .add("retweeted",StringType(),True) \
      .add("tweet_id2",LongType(),True) \
      .add("tweet_id_str",StringType(),True) \
      .add("created_at",StringType(),True) \
      .add("created_at_str",StringType(),True) \
      .add("in_reply_to_user_id",StringType(),True) \
      .add("lang",StringType(),True) \
      .add("place_name",StringType(),True) \
      .add("place_id",StringType(),True) \
      .add("place_bb_00",StringType(),True) \
      .add("place_bb_01",StringType(),True) \
      .add("place_bb_10",StringType(),True) \
      .add("place_bb_11",StringType(),True) \
      .add("place_bb_20",StringType(),True) \
      .add("place_bb_21",StringType(),True) \
      .add("place_bb_30",StringType(),True) \
      .add("place_bb_31",StringType(),True) \
      .add("place_type",StringType(),True) \
      .add("place_country_code",StringType(),True) \
      .add("place_country",StringType(),True) \
      .add("place_full_name",StringType(),True) \
      .add("user_name",StringType(),True) \
      .add("user_id",StringType(),True) \
      .add("user_id_str",StringType(),True) \
      .add("user_location",StringType(),True) \
      .add("user_friend_count",StringType(),True) \
      .add("user_created_at",StringType(),True) \
      .add("user_screen_name",StringType(),True)

In [5]:
debate_tweets = spark.read.csv("debate-tweets.tsv",sep=r'\t',schema=schema)

Nomeia as colunas baseados no readme http://lia.ufc.br/~igobrilhante/twitter-home/


Df vai ser o arquivo com o dataframe base

In [6]:
debate_tweets

DataFrame[tweet_id: bigint, content: string, coordinate_0: double, coordiante_1: double, retweeted: string, tweet_id2: bigint, tweet_id_str: string, created_at: string, created_at_str: string, in_reply_to_user_id: string, lang: string, place_name: string, place_id: string, place_bb_00: string, place_bb_01: string, place_bb_10: string, place_bb_11: string, place_bb_20: string, place_bb_21: string, place_bb_30: string, place_bb_31: string, place_type: string, place_country_code: string, place_country: string, place_full_name: string, user_name: string, user_id: string, user_id_str: string, user_location: string, user_friend_count: string, user_created_at: string, user_screen_name: string]

In [7]:
debate_tweets.count()

7228127

In [8]:
debate_tweets.limit(10).toPandas()

22/12/05 00:39:56 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,tweet_id,content,coordinate_0,coordiante_1,retweeted,tweet_id2,tweet_id_str,created_at,created_at_str,in_reply_to_user_id,...,place_country_code,place_country,place_full_name,user_name,user_id,user_id_str,user_location,user_friend_count,user_created_at,user_screen_name
0,522394422710136832,"@anacddd verdade, olha o site",-27.516566,-48.646082,False,522394422710136832,522394422710136832,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,303425830,...,None,None,None,Geovana Nunes,295414968,295414968,None,316,Mon May 09 00:12:02 +0000 2011,geovanannunes
1,522394422806581248,Que √±*,-27.768328,-51.668323,False,522394422806581248,522394422806581248,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Rosane Fernandes,2409363642,2409363642,Cacique Doble RS,47,Mon Mar 24 18:06:40 +0000 2014,Rosane_fsf
2,522394422731100160,Vou quebrar a Bruna,-27.004640,-48.623519,False,522394422731100160,522394422731100160,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Bebel,162447082,162447082,None,513,Sat Jul 03 18:03:35 +0000 2010,_isarenata
3,522394422810783745,agora vou p segundo andar e depois p 3¬∞ üëè,-15.852082,-47.961413,False,522394422810783745,522394422810783745,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,tat√°,387694391,387694391,None,347,Sun Oct 09 14:19:52 +0000 2011,thayflausino
4,522394423137943553,Me sinto t√£o bem - Mika #QueroNoTVZ,-3.755046,-38.566769,False,522394423137943553,522394423137943553,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Simone ‚ô• DDM's ‚ô•,152792963,152792963,Fortaleza/Cear√°,719,Sun Jun 06 22:15:22 +0000 2010,simoneesilva
5,522394423188271104,"Eu estou aqui, deixando a vida me guiar, n√£o √©...",-22.846869,-43.308830,False,522394423188271104,522394423188271104,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Gar6,749780077,749780077,Rio de Janeiro,356,Fri Aug 10 17:56:10 +0000 2012,juliagar6
6,522394423238606848,Quando vai embora tudo fica sem gra√ßa,-22.904301,-43.544403,False,522394423238606848,522394423238606848,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Isa,2476253858,2476253858,None,164,Sun May 04 02:22:02 +0000 2014,isabelleecorrea
7,522394423528022016,@paynecaralhudo kkkkkk n n sou legal kkk,-23.509058,-46.968920,False,522394423528022016,522394423528022016,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,518826601,...,None,None,None,J√∫lio Lessa ‚úå,324937648,324937648,None,943,Mon Jun 27 13:28:08 +0000 2011,SiempreCtgLS
8,522394423632875521,Concei√ß√£o da Barra acho que vou pra outro dia,-18.713338,-40.405779,False,522394423632875521,522394423632875521,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,‚ôîLu‚ôî,536501962,536501962,Nova Ven√©cia-Es,82,Sun Mar 25 17:45:22 +0000 2012,Hey_Marrenta
9,522394424010362881,@Maniavato te amo ‚ô•,-23.064705,-45.717173,False,522394424010362881,522394424010362881,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,542665678,...,None,None,None,queen,1414028317,1414028317,| no puteiro com a Ju. |,1911,Wed May 08 22:50:20 +0000 2013,ButeraCertified

Conferida se os nomes e tipos das colunas est√£o corretos, partimos para a primeira quest√£o

In [9]:
spark.conf.set("spark.sql.legacy.timeParserPolicy","LEGACY") 
hashtag_regex="^#\w+|\s#\w+"
debate_tweets_timestamp=debate_tweets.withColumn("timestamp",to_timestamp('created_at', 'EEE LLL d HH:mm:ss z yyyy'))
debate_filtrado1=debate_tweets_timestamp.select('content','created_at',"timestamp")

1)Quais foram as hashtags mais usadas pela manh√£, tarde e noite? (1,0 ponto)

Como s√≥ vamos precisar da coluna content, e created_at, limpo as outras colunas

In [10]:
contains_hashtag=debate_filtrado1.filter(debate_filtrado1["content"].rlike(hashtag_regex)).withColumn("hashtag",regexp_extract("content",hashtag_regex,0))\
.withColumn("hour",hour("timestamp"))

In [11]:
contains_hashtag_manha=contains_hashtag.filter(contains_hashtag["hour"]>=6).filter(contains_hashtag["hour"]<13);
contains_hashtag_tarde=contains_hashtag.filter(contains_hashtag["hour"]>=13).filter(contains_hashtag["hour"]<18);
contains_hashtag_noite=contains_hashtag.filter(contains_hashtag["hour"]>=18).union(contains_hashtag.filter(contains_hashtag["hour"]<6));

In [12]:
contains_hashtag_manha.count()
contains_hashtag_tarde.count()
contains_hashtag_noite.count()

495260

In [13]:
contains_hashtag_manha.groupBy("hashtag").count().sort('count', ascending=False).limit(50).show()

+--------------------+-----+
|             hashtag|count|
+--------------------+-----+
|   #EMABiggestFans1D|37297|
| #EMABiggestFansJ...|32625|
|#EMABiggestFansJu...| 3807|
|   #EMABiggestFans1D| 3083|
|         #QueroNoTVZ| 2645|
|         #QueroNoTVZ| 1537|
| #VoteVampsTeenAw...|  976|
|       #AustinMahone|  768|
|       #AUSTINMAHONE|  733|
|             #trndnl|  566|
| #EMABiggestFans5SOS|  515|
| #ChristianNoEnco...|  482|
|                  #E|  475|
|        #StealMyGirl|  380|
|             #bomdia|  363|
|               #AMAs|  345|
|#BuyLoveMeHarderO...|  313|
|       #KCAArgentina|  312|
| #HarryRefollowLuana|  296|
|             #TOPTVZ|  291|
+--------------------+-----+
only showing top 20 rows

In [14]:
contains_hashtag_tarde.groupBy("hashtag").count().sort('count', ascending=False).limit(50).show()

+--------------------+-----+
|             hashtag|count|
+--------------------+-----+
|   #EMABiggestFans1D|47300|
| #EMABiggestFansJ...|41537|
|        #StealMyGirl| 5896|
|#EMABiggestFansJu...| 4858|
|   #EMABiggestFans1D| 4040|
|   #bigpaynodanceoff| 3648|
| #LuanSantanaNaHo...| 1970|
|    #CartersNewVideo| 1679|
|     #FlyNoMixDiario| 1141|
| #demiyourstorydo...|  976|
| #BuyLoveMeHarder...|  908|
|       #AustinMahone|  892|
|    #HottieOfTheWeek|  663|
|               #AMAs|  611|
|         #QueroNoTVZ|  604|
|          #Vote5HEMA|  593|
|   #UnlockMockingjay|  567|
|      #MTVhomecoming|  557|
|     #flyNoMixdiario|  553|
|           #VevoLIFT|  506|
+--------------------+-----+
only showing top 20 rows

In [15]:
contains_hashtag_noite.groupBy("hashtag").count().sort('count', ascending=False).limit(50).show()

+--------------------+------+
|             hashtag| count|
+--------------------+------+
| #EMABiggestFansJ...|105331|
|   #EMABiggestFans1D|104991|
|#EMABiggestFansJu...| 14208|
|       #camilasayshi|  9024|
|   #EMABiggestFans1D|  8589|
|     #TheVoiceBrasil|  2315|
|        #DebateNoSBT|  2229|
|                  #E|  2045|
|          #Vote5HEMA|  1968|
|        #AssistamODR|  1953|
|     #DebateNaRecord|  1698|
|                #Lan|  1677|
|             #trndnl|  1570|
| #LinkinParkNoMul...|  1392|
|     #askdirectioner|  1360|
|       #AustinMahone|  1334|
|   #askjadelittlemix|  1284|
|    #QueroDilmaTreze|  1159|
|           #AFazenda|  1110|
| #LuaBlancoNoAgor...|  1104|
+--------------------+------+
only showing top 20 rows

b) Quais as hashtags mais usadas em cada dia? (1,0 ponto)

c) Quais as hashtags mais usadas em cada dia? (1,0 ponto)

d) Quais as principais senten√ßas relacionadas √† palavra ‚ÄúDilma‚Äù? (1,0 ponto)

2)Dado um dataset com tweets relacionados √† visita da Torre Eiffel em Paris, 
responda:

a) Encontre as palavras mais utilizadas nas avalia√ß√µes. (1,0 ponto)

c) Encontre os principais t√≥picos relacionados √†s revis√µes. (1,0 ponto

d) Mapeie a distribui√ß√£o temporal das revis√µes. (1,0 ponto)